# Godot-specific
.godot/
import/
export.cfg
export_presets.cfg

# Mono/C#
.mono/
data_*/
mono_crash.*.json

# Visual Studio
.vs/

# JetBrains Rider
.idea/
*.sln.iml

# macOS
.DS_Store

# Export
*.pck
*.zip
